
.text{
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
    color: #c4c5c5;
    word-break: normal;
    overflow-wrap: anywhere;
    text-align: center;
}
.cardWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.signInWrapper{
    margin-top: 20px;
}

.hasInvite{
    color: #0077ff;
}